@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);


html,body {
    
    background-color: #111111;
   
}
h1{
    color: #E2E80F;
    text-align: center;
    font-size: 15em;
}
p{
    color: #eeeeee;
    font-size: larger;
    letter-spacing: 15em;
}
.credits :hover{
    color: #49DAFF;
}
#film-description{
    font-size: smaller;
    font-style: italic;
}